
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy for Adoption</title>
  </head>
  <body>
    <h1>Adopt This Puppy!</h1>

    <p>Puppy Name:</p>
    <p><%= @puppy.name %></p>

    <p>Puppy Breed:</p>
    <p><%= @puppy.breed %></p>

    <p>Puppy Age:</p>
    <p><%= @puppy.age %></p>

  </body>
</html>
